*{
    font-family: "Times New Roman";
}
body {
    margin: 0;
    background-color: antiquewhite;
}
main{
    margin: 16px;
}
h1{
    text-align: center;
    font-size: 30px;
    background: #292c2f;
    color: white;
}
.centrar{
    position: relative;
    text-align: center;
}
#logo{
    width: 200px;
    height: 200px ;
}
a{
    text-decoration: none;
    color:white;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color:antiquewhite;
}
header{
    display: flex;
    min-height: 70px;
    background: #292c2f;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 50px;
    margin-right: 10px;
}
@media(max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
.avatar{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
#grupo{
    display: flex;
    justify-content: center;
}
#grupo div{
    justify-content: center;
    align-items: flex-end;
    display: flex;
}
#grupo div span{
    position: absolute;
    background: antiquewhite;
    height: 20px;
    border-radius: 10%;
    border: 1px solid antiquewhite;
}
.center{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
}

.ifFooter{
    width: 100% !important;
    height: 184px;
    position: absolute;
}

/* Barra de desplazamiento */
::-webkit-scrollbar {
    width: 15px;
}
/* Color de fondo de Cosito que se mueve */
::-webkit-scrollbar-track {
    background-color: white;
}
/*  Cosito que se mueve */
::-webkit-scrollbar-thumb {
    background-color: #ffd0a2;
}
/*Flechitas*/
::-webkit-scrollbar-button {
    background-color: rgba(0,0,0,0.41);
}
/* Algo cuando esta la barra ver y hori en la esquina inferior derecha*/
::-webkit-scrollbar-corner {
    background-color: black;
}


.container-comments{
    margin-top:20px;
}

.photo-perfil{
    position:absolute;
    width: 100px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}
.photo-perfil img{
    width: 100%;
    height: 100%;
}
.info-comments{
    margin-left: 120px;
    background: gray;
}
.info-comments .header{
    display: flex;
    justify-content: space-between;
    background: #292c2f;
    color:white;
}
.info-comments p{
    padding: 20px;

}
