<head>
    <meta charset="UTF-8">
    <title>Firebase</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <style>
        a{
            color:black !important;
        }
    </style>
</head>
<body>
<main>
<h1>Firebase</h1>
<a href="https://firebase.google.com/?hl=es-419" target="_blank">
    <ion-icon name="logo-firebase"></ion-icon>
    Firebase
</a>
<ul>
    <li><a href="#intro">Introducción</a></li>
    <li><a href="#funciones">Funciones</a></li>
    <li><a href="#ejemplo">Ejemplo</a></li>
    <li><a href="#comentario">Comentario Grupal</a></li>
    <li><a href="#comentarios">Comentarios Individual</a></li>
</ul>

<h2 id="intro">Introducción.¿Qué es Firebase?</h2>
    <div class="centrar">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/TkYeVlJyCrg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
<h2 id="funciones">Funciones</h2>
    <div class="centrar">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/-dstjLKXA3E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/r-g4gJjb_zc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h2 id="ejemplo">Ejemplo</h2>
    <div class="centrar">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0WdtjFglP-w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
<h2 id="comentario">Comentario Grupal</h2>
<p>Como se puede concluir a partir de las funcionalidades ofrecidas, esta herramienta presenta numerosos beneficios para los desarrolladores que lo utilicen. Aunque son muchos más, algunos de ellos se recopilan brevemente. Te explicamos a continuación cuáles son los beneficios de Firebase:

    Muy recomendable para aplicaciones que necesiten compartir datos en tiempo real.
    Sus funcionalidades, además de ser variadas, se complementan muy bien y se pueden gestionar de forma sencilla desde un único panel. Además, no es necesario usar todas estas opciones para la aplicación, pudiendo elegir solo aquellas que más nos interesen.
    Facilita el envío de notificaciones: son muy sencillas de implementar y gestionar, además de ser extremadamente útiles para mantener la atención de los usuarios.
    Permite la monetización: desde el propio Firebase se puede agregar publicidad a la app, permitiendo fácilmente rentabilizarla obteniendo el ROI.
    Engloba Analytics: especializado en determinadas métricas de aplicaciones móviles e integrado en el panel central de Firebase con un funcionamiento muy intuitivo. Esencial para tomar decisiones en distintas fases del proceso.
    Google ofrece numerosos documentos y tutoriales a modo introductorio e informativo (con gran profundidad) para que sumergirse en Firebase sea mucho más fácil.
    Soporte gratuito vía email, sin importar si el desarrollador utiliza la versión gratuita o de pago.
    Escalabilidad: los inicios son gratuitos, pero permite ir adaptándose a las necesidades de la aplicación con diferentes planes de pago.
    Ofrece seguridad al usuario: con los certificados SSL.
    Permite a los desarrolladores restarle atención al backend y a las infraestructuras complejas para centrarse completamente en otros aspectos.
    La desventaja más comúnmente mencionada es el precio. Se ha hablado de la escalabilidad de Firebase, donde el inicio con el plan Spark es gratuito. Sin embargo, tiene limitaciones (principalmente de número de usuarios simultáneos y de espacio de almacenamiento), por lo que puede resultar necesario contratar una versión de pago. Los planes de pago son Flame (25 dólares al mes) y Blaze (se paga según el consumo).

    Así que como puedes ver, puedes encontrar Firebase gratis, pero si necesitas trabajar con ello de manera profesional, verás que tienes que buscar cuál es el precio de Firebase. Depende de ti invertir más o menos en un proyecto.


    En definitiva, Firebase es una plataforma muy completa y con grandes y numerosos beneficios, que terminan por dejar en segundo plano las pocas desventajas que presenta.

    Es especialmente interesante en los inicios de un proyecto, puesto que sus funciones están pensadas para acompañar a este proceso (desarrollo, crecimiento y monetización) y ofrece prácticamente todo lo necesario para “dar el salto”. Es muy relevante, de igual modo, que permita a los desarrolladores centrar sus esfuerzos determinados aspectos, como puede ser el frontend, y dejar otros como el backend en segundo plano. Las diversas herramientas para fomentar el crecimiento son también uno de sus puntos fuertes.

    Como hemos mencionado, uno de los principales inconvenientes podría ser la necesidad de pago. Sin embargo, para los proyectos que se encuentren en sus primeras etapas, la versión gratuita de Firebase es más que suficiente. Así, cuando sea necesario actualizar a la versión de pago o abandonar la plataforma para basarse en medios propios, en la mayoría de los casos será consecuencia del crecimiento del proyecto. Como esta evolución suele ir asociada a una rentabilidad, en principio no debería suponer un freno para comenzar con Firebase.
</p>
<div class="container-comments" id="comentarios">
    <div class="comments">
        <div class="photo-perfil">
            <img src="../imagenes/avatar_walter.jpg" alt="Avatar de Walter">
        </div>
        <div class="info-comments">
            <div class="header">
                <h4>Walter Idoyaga</h4>
                <h5>8 de junio 2022</h5>
            </div>
            <p>Firebase es la plataforma de desarrollo de aplicaciones móviles de Google. Sus ventajas incluyen un entorno de desarrollo integral, un tiempo de comercialización para crear aplicaciones más rápido, se puede utilizar para implementar funciones de aprendizaje automático de alto nivel, tiene un diseño bastante interactivo para informes de fallos y análisis de datos, es un sistema backend sin consultas, por lo que el usuario no necesita tener conocimientos previos de consultas de bases de datos relacionales, los datos se almacenan en forma de bloque organizado que se puede leer fácilmente en el futuro, Hay muchos recursos y documentos disponibles, con una comunidad grande y activa. Aunque es un producto fantástico, Firebase tiene desventajas. Es una plataforma de código cerrado, tiene dependencia del proveedor y solo proporciona bases de datos NoSQL.

                En cuanto a los precios, Firebase opera bajo dos planes diferentes. El primero es Spark, que proporciona un generoso nivel gratuito y abarca la mayoría de las funciones de Firebase. El plan de pago se llama Blaze y funciona según un modelo basado en el uso y le cobra a la aplicación en función de la carga de trabajo utilizada.
                En general, Firebase proporciona un backend fácil de usar e implementar para aplicaciones móviles. Tiene todas las características y funcionalidades que requiere el usuario, eso también de forma organizada.
            </p>
        </div>
    </div>
</div>
<div class="container-comments">
    <div class="comments">
        <div class="photo-perfil">
            <img src="../imagenes/avatar_cesar.jpeg" alt="Avatar de César">
        </div>
        <div class="info-comments">
            <div class="header">
                <h4>César Samaniego</h4>
                <h5>3 de junio 2022</h5>
            </div>
            <p>
                Firebase proporciona funciones de backend fáciles y sencillas que son fáciles de implementar y demuestran ser la mejor opción para los desarrolladores de aplicaciones principiantes.
                Firebase ayuda a integrar varios tipos de autenticación en la aplicación, como la autenticación de Google, Facebook y texto.
                Es un sistema backend sin consultas, por lo que el usuario no necesita tener conocimientos previos de consultas de bases de datos relacionales, es una base de datos sin SQL
                El SDK es estable y tiene una documentación bien redactada con un gran apoyo de la comunidad.
                Admite configuración remota, notificaciones push y proporciona un registro detallado de fallos.

                La desventaja es que Firebase es la mejor solución de backend para principiantes, y los únicos inconvenientes de usar Firebase es:
                No es factible para aplicaciones a gran escala debido a la falta de personalización(no es escalable)
                No proporciona una gran área de personalización.
                Los análisis a veces no son 100% precisos.
                El soporte al cliente es inalcanzable.
                Existen algunas limitaciones en la versión gratuita como el número de conexiones simultáneas.

                En general, Firebase es una solución de backend fácil de usar de Google que se enfoca en proporcionar todas las funciones necesarias de backend sin ningún problema.
            </p>
        </div>
    </div>
</div>
<div class="container-comments">
    <div class="comments">
        <div class="photo-perfil">
            <img src="../imagenes/avatar_rosa.jpeg" alt="Avatar de Rosa">
        </div>
        <div class="info-comments">
            <div class="header">
                <h4>Rosa Zaracho</h4>
                <h5>9 de junio 2022</h5>
            </div>
            <p>Firebase permite a los desarrolladores implementar funcionalidades básicas de backend como la operación CRUD sin tener que codificar nada.
                Tiene todas las características y funcionalidades básicas de un backend requerido para una aplicación móvil o web pequeña o mediana.
                La interfaz de usuario de la herramienta es limpia, organizada y fácil de navegar.
                Hay un montón de funciones útiles como notificaciones push en tiempo real y análisis detallados.
                Proporciona seguridad y protección a la seguridad de los datos del usuario almacenados en el backend mediante cifrado.
                La autenticación se puede implementar fácilmente en cualquier aplicación web o móvil sin código.
                No tiene servidor y es compatible con el almacenamiento JSON.
                La versión gratuita ofrece casi todas las funciones premium llamada Blaze.

                Lo malo es que no tiene mucho espacio para la personalización en la lógica y los métodos de backend.
                Firebase es una opción de backend asombrosa para los principiantes que desean una solución de backend simple para sus aplicaciones, pero Firebase no es adecuado para proyectos grandes que son escalables.

                En general, Firebase es una solución de backend ideal para desarrolladores principiantes y desarrolladores de front-end, ya que proporciona todas las funcionalidades básicas de backend sin tener que codificar nada.
            </p>

        </div>
    </div>
</div>
</main>
<iframe class="ifFooter" src="pie_pagina.html" frameborder="0"></iframe>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>
